{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="col">
      <a class="navbar-brand">
        <img class="elo-group-logo" src="{% static 'img/logo-transp.png' %}" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </div>
    <div class="col justify-content-center text-center">
      <a href="" class="navbar-brand">Lead manager</a>
    </div>
    <div class="col">
      {% if user.is_authenticated %}
      <ul class="navbar-nav" style="text-align: right;">
        
        <li class="nav-item ml-auto">
          <a class="nav-link disabled">Logged as {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">
            <!-- <i class="fas fa-sign-out-alt"></i> --> Logout
          </a>
          <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden">
          </form>
        </li>
      </ul>
      {% endif %}
    </div>
      
  </div>
  
</nav>